
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee&family=Cabin:wght@500&family=Lilita+One&family=Orbitron:wght@500&family=Raleway:wght@200&display=swap');


* {   /*configuracao inicial padrao*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { /*configuracao inicial padrao do BODY*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header { /*cor de fundo do NAV e flex para alinhar a logo e os links de navegacao dentro do container*/
    background-color: rgba(2, 0, 38);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;

}

header a {
    text-decoration: none;
    color: white;
}

h1 {  /*LOGO*/
    text-decoration: none;
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 800;
    font-family: 'Lilita', sans-serif;
    margin-left: 1px;
    margin-bottom: 5px;
}



/*HEADER*/

#menu { /*Customizacao do Menu HOME SIGNUP Contact*/
    font-size: 100%;
    letter-spacing: 1px;
    list-style-type: none;
    font-family: 'Lilita', sans-serif;
    font-weight: 700;
    margin-left: 2%;
}

#menu > li { /*configuracao da margem bottom da lista */
    margin-bottom: 1em;
}

.active { /*configuracao somente do HOME criando linha na borda BOTTOM*/
    border-bottom: 1px solid #ffffff;
}

nav { /*configura a barra que abre quando clicado o hamburguer*/
    position: absolute;
    background-color: rgba(2, 0, 38);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;  
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label { /*configuracao do botao do menu*/
    font-size: 1.5rem;
    color: white;
    margin-right: 10px;
    margin-bottom: 2vw;
}


/*MAIN*/

h3 { /*fonte cor e etc... da primeira section*/
    color: rgb(252, 204, 46);
    font-size: 35px;
    font-family: 'Anton', sans-serif;
}

p { /*fonte cor e etc.. de paragrafos mas por enquanto so tem um paragrado entao nao tem class e id, pertence a section1*/
    font-family: 'Orbitron', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 12px;
}


.mainsection {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
}

#signupsection { /*Configuracao do container OPEN ACCOUNT*/
    background-color: orange;
    width: 100%;
    height: 60px;
    display: flex;
    flex: row;
    align-items: center;
    justify-content: center;

}

#signup { /*Configuracao do texto do OPEN ACCOUNT*/
    color:  rgba(2, 0, 38);
    font-size: 15px;
    font-family: 'Bungee', sans-serif;
    text-decoration: none;
}

#cardicon { /*Configuracao do ICONE DO CARTAO*/
    margin-left: 5px;
}


.section1 {
    background-color: rgba(2, 0, 38);
}


/*FOOTER*/






/* CONFIGURACOES DE MEDIA QUERY */


/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {...}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {...}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {
    #signupsection { /*Configuracao do container OPEN ACCOUNT*/
        background-color: orange;
        width: 100%;
        height: 60px;
        display: flex;
        flex: row;
        align-items: center;
        justify-content: center;
        display: none

}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {...}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {...}