
@import url(@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');



* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }


  a {
    text-decoration: none;
  }


body {
    display: flex;
    flex-direction: column;
}



/*HEADER*/

.menu {
    display: flex;
    margin-right: 20px;
}

nav {
    background: linear-gradient(rgb(3, 36, 110), rgb(29, 76, 184));
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;

}

#logo {
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-weight:800;
    font-family: lilita, sans-serif;
    margin-left: 20px;
}

.decoration {
    color: white;
    font-size: 21px;
    margin-right:20px;

}

/*MAIN*/



/*FOOTER*/

