

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Bungee&family=Cabin:wght@500&family=Lilita+One&family=Orbitron:wght@500&family=Raleway:wght@200&display=swap');



* {   /*DEFAULT INITIAL SETTING*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

html, body { /*DEFAULT INITIAL SETTING BODY HTML*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    
}

header { /*NAV background color, flex to align the logo and navigation links in the container*/
    background-color: rgba(2, 0, 38);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 13vh;

}

header a {
    text-decoration: none;
    color: white;
}


 /*LOGO*/

#logo { 
    text-decoration: none;
    color: rgb(243, 240, 209);
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: 'Lilita', sans-serif;
    margin-left: 1vw;
    
}



/*HEADER*/

#menu { /*MENU HOME SIGNUP CONTACT: TEXT*/
    font-size: 100%;
    letter-spacing: 1px;
    list-style-type: none;
    font-family: 'Bungee', sans-serif;
    margin-left: 2%;
    color: rgb(243, 240, 209);
}

#menu > li { /*MARGIN LIST*/
    margin-bottom: 1em;
}

.active { /*HOME UNDERLINE*/
    border-bottom: 1px solid #ffffff;
}

nav { /*MENU HAMBURGUER*/
    position: absolute;
    background-color: rgba(2, 0, 38);
    width: 100vw;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;  
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label { /*menu button config*/
    font-size: 1.5rem;
    color: white;
    margin-right: 1vw;
}


/*MAIN*/


.mainsection { 
    display: flex;
    flex-direction: column;
    margin-top: 11vh;
    align-items: center;
    align-content: center;

}

/*OPEN ACCOUNT YELLOW BAR*/

#signupsection { /*OPEN ACCOUNT CONTAINER*/
    background: linear-gradient(to bottom, #FFA500, #FFD700);
    width: 100vw;
    height: 10vh;
    margin-top: 2vh;
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;

}

#signup { /*OPEN ACCOUNT TEXT*/
    color:  rgba(2, 0, 38);
    font-size: 15px;
    font-family: 'Bungee', sans-serif;
    text-decoration: none;
    text-align: center;
}

#cardicon { /*CARD ICON*/
    margin-left: 5vw;
    color: inherit;
}




/*SECTION 1 */

.section1wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1 {
    max-width: 100vw;
    margin-top: 2vh;
    border-left: 10px solid rgb(243, 240, 209, 0.7);
    border-right: 10px solid rgb(243, 240, 209, 0.7);
    width: 80%;
    height: 50vh;
}

#h3section1 {
font-size: 22px;
margin-left: 5vw;
margin-top: 3vh;
font-family: 'Raleway', sans-serif;
text-align: center;

}
#h2section1{
    font-size: 17px;
    margin-left: 5vw;
    margin-top: 1vh;
    font-family: 'Raleway', sans-serif;
    text-align: center;

}
.psection1{
    font-size: 15px;
    margin-left:15vw;
    margin-top: 5vh;
    font-family: 'Raleway', sans-serif;

}


/*CEO IMAGE BETWEEN SECTIONS 1 AND 2*/

.ceosection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin-bottom: 20vh;
    
  }
  
  .ceosection #ceophoto {
    max-width: 60vw; 
    border-top:  15px solid rgb(243, 240, 209);
    border-bottom:  15px solid rgb(243, 240, 209);
    border-radius: 50%;
    margin-bottom: 3vh;
  }
  
  .ceosection p {
    flex-grow: 1; 
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgba(2, 0, 38);
  }

 
/*SECTION 2 STARTS HERE */

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: -15vh;
    width: 100vw;
    height: 80vh;

}

.subsection2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 30vh;
    background-color: rgb(243, 240, 209, 0.4);
    padding: 20px;
}

.subsection2 h2, .subsection2 h3 {
    color: black;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    
   
}

/*BUSINESS HOURS LIST*/

#h2table {
    margin-top: 2vh;
    width: 60vw;
    margin-left: 20vw;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: rgba(2, 0, 38);
}

.table {
    max-width: 100vw;
    font-size: 14px;
    color: rgba(2, 0, 38);
    text-align: center;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 0.5vh; 
    margin-bottom: 1vh;
}

/*FORM STARTS HERE*/

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 240, 209, 0.7);
    max-width: 80vw;
    width: 100%;
    height: 37vh;
    margin: 0vh 10vw;
}

.contact form {
    max-width: 100%;
}


fieldset {
    border: none;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

legend {
    text-align: center;
    font-family: 'Bungee', sans-serif;
    color: rgba(2, 0, 38);
    font-size: 13px;
    
}

label {
    color: rgba(2, 0, 38);
    font-family: 'Lilita one', sans-serif;
    font-size: 12px;
}

input {
    width: 70vw;
    height: 22px;
    margin-bottom: 2vh;
    border: 1px solid rgba(2, 0, 38, 0.2);
    cursor: pointer;
    border-radius: 4px;
}

.contact form input[type="submit"] {
    border: 1px solid rgba(2, 0, 38, 0.2);
    color: rgba(2, 0, 38);
    border-radius: 5px;
    font-size: 12px;
    font-family: 'Lilita one', sans-serif;
    width: 15vw;
    height: 3vh;
}


/*FOOTER*/

.footer {
    background-color:  rgba(2, 0, 38);
    width: 100vw;
    height: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer h2 {
    color: rgb(243, 240, 209);
    font-family: 'Raleway', sans-serif;
    font-size: 14.5px;
    text-align: center;
    margin-top: 5vh;
}

.footer p {
    color: rgb(243, 240, 209);
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    text-align: center;
}


.footer ul {
    display: flex;
    list-style-type: none;
    margin-top: 25px;
}

.footer a {
    color:rgb(243, 240, 209);
    
}


.footer ul li {
    color: rgb(243, 240, 209);
    width: 20vw;
    margin-left: 12.5vw;
    margin-top: 0vh;
    font-size: 20px;
}


/*----------------- FORM PAGE SIGNUP.HTML -----------------------------------------------------------------------------------------------------------------------------------*/
#signupform {
    position: relative;
    left: 30px;
    top: 20px;
    
}

#nebulabankimage {
    max-width: 100vw;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 10vh;
    border-radius: 10%;
}

.bodyb {
    background-color: rgb(243, 240, 209);
}


/* ---------------------------- MEDIA QUERY ---------------------------------------------------------------------------------------------------------------*/



/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

    /* NAV BAR */

    nav {
        display: flex !important;
        position: relative;
        background-color: rgba(2, 0, 38);
        width: auto;
        padding: 0;
        top: 0;
    }

    #menu {
        display: flex;
        margin-left: auto;
        align-items: center;
    }

    #menu > li {
        margin-bottom: 0;
        margin-left: 20px;
        margin-right: 10px;
    }

    .nav-toggle-label {
        display: none;
    }

    /* NAV BAR SIGNUP BUTTOM */
    
    .signupnavbar {
        background-color: orange;
        padding: 15px;
        border-radius: 5%;
    }

    #logo { 
        text-decoration: none;
        color: rgb(243, 240, 209);
        font-size: 40px;
        letter-spacing: 1px;
        font-weight: 700;
        font-family: 'Lilita', sans-serif;
        margin-left: 1vw;
        
    }
  
/* OPEN ACCOUNT BAR*/
    #signupsection { /*Container config. OPEN ACCOUNT*/
        display: none;
    }
   
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

/* MAIN */
/* NEBULA ACCOUNT SECTION */
    .section1wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        max-width: 100vw;
    }

    .section1 {
        max-width: 100vw;
        margin-top: -15px;
        border-left: none;
        border-right: none;
        background-color: rgb(243, 240, 209, 0.7);
        width: 50vw;
        height: 60vh;
    }

    #h3section1 {
        font-size: 45px;
        margin-left: 0vw;
        margin-top: 5vh;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        
        }
        #h2section1{
            font-size: 25px;
            margin-left: 0vw;
            margin-top: 1vh;
            font-family: 'Raleway', sans-serif;
            text-align: center;
        
        }
        .psection1 {
            font-size: 20px;
            margin-left:10vw;
            margin-top: 6vh;
            font-family: 'Raleway', sans-serif;
        }

        /* CEO IMAGE */

        .ceosection {
            max-width: 100vw;
            width: 50vw;
        }

        .ceosection #ceophoto {
            max-width: 100vw; 
            border-top:  15px solid rgb(243, 240, 209);
            border-bottom:  15px solid rgb(243, 240, 209);
            border-radius: 50%;
            margin-bottom: none;
            position: relative;
            top: 5vh;
          }
          
          .ceosection p {
            flex-grow: 1; 
            font-family: 'Raleway', sans-serif;
            font-size: 16px;
            font-weight: bold;
            color: rgba(2, 0, 38);
            position: relative;
            top: 5vh;
          }

          /*  NEBULA APP SECTION2 */ /*  EMPOWERING SECTION2 */

          .section2 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-top: 0vh;
            border-left: none;
            border-right: none;
            width: 100vw;
            height: 50vh;
        
        }
        
        .subsection2 {
            width: 90vw;
            height: 25vh;
            background-color: rgba(2, 0, 38);
            padding: 10px;
            margin-top: 2vh;
            
        }
        
        .subsection2 h2, .subsection2 h3 {
            color: rgb(243, 240, 209);
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-size: 30px;
        }

/*  GET IN TOUCH WITH US FORM */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 240, 209, 0.7);
    width: 45vw;
    height: 37vh;
    margin: 3vh 5vw;
}

form {
    border-left: none;
    border-right: none;
    width: 100%;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

legend {
    text-align: center;
    font-family: 'Bungee', sans-serif;
    color: rgba(2, 0, 38);
    font-size: 20px;
}

label {
    color: rgba(2, 0, 38);
    font-family: 'Lilita one', sans-serif;
    font-size: 20px;
    text-align: center;
}

input {
    width: 40vw;
    height: 30px;
    margin-bottom: 2vh;
    border: 1px solid rgba(2, 0, 38, 0.2);
    cursor: pointer;
    border-radius: 4px;
}

.contact form input[type="submit"] {
    border: 1px solid rgba(2, 0, 38, 0.2);
    color: rgba(2, 0, 38);
    border-radius: 5px;
    font-size: 12px;
    font-family: 'Lilita one', sans-serif;
    width: 10vw;
    height: 3vh;
    margin-bottom: 10vh;
 
}

/* BUSINESS HOURS LIST */

#h2table {
    border-top: none;
    border-left: 10px solid rgba(2, 0, 38);
    margin-top: 2vh;
    width: 40vw;
    margin-left: 20vw;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color: rgb(243, 240, 209);
    background-color: rgba(2, 0, 38);
    position: absolute;
    left: 35%;
    bottom: -40%;

}

.table {
    max-width: 100vw;
    font-size: 23px;
    text-align:center;
    width: 40vw;
    margin-left: 10vw;
    margin-top: 1vh;
    border-bottom: none;
    border-right: 10px solid rgba(2, 0, 38);
    background-color: rgba(2, 0, 38);
    color: rgb(243, 240, 209);
    position: absolute;
    left: 45%;
    bottom: -60%;
}

/* FOOTER*/

.footer {
    background-color:  rgba(2, 0, 38);
    width: 100vw;
    height: 12vh;
    margin-top: 4vh; 
}

.footer h2 {
    color: rgb(243, 240, 209);
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 12px;
}

.footer ul {
    display: flex;
    list-style-type: none;
    margin-top: 25px;
}

.footer a {
    color:rgb(243, 240, 209);
    
}

.footer ul li {
    color: rgb(243, 240, 209);
    width: 5vw;
    margin-left: 21vw;
    margin-top: 0vh;
    font-size: 30px;
}
   
    
}

